# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Test output
coverage/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Profiling data
.prof
torch-1.7.1+cu110-cp36-cp36m-linux_x86_64.whl

.env